main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

img {
    max-width: 400px;
}

p {
    font-size: 28px;
    margin-left: 20px;
}