body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  font-family: Poppins;
  }
header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 100%;
  background-color: #FFD98A;
}
header .container-header{
  display: flex;
  align-items: center;
  width: 1220px;
  margin-right: 80px;
}

header .logo{
  display: flex;
  align-items: center;
  padding-inline: 130px;
}
header .logo h2{
  padding-left: 15px;
}

header nav a{
  text-decoration: none;
  color: black;
  padding-inline: 30px;
}

header button{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 28px;
  border: none;
  margin-left: 10px;
}
header button:hover{
  background-color: #FF7700;
}
header button a{
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 400px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  max-width: 300px;
  margin-left: 200px;
}

.footer-logo h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.footer-logo p {
  font-size: 14px;
  font-weight: 400;
  color: #dcdcdc;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  margin-right: 200px;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #bfbfbf;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  text-decoration: none;
  color: #999;
  font-size: 13px;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}
