* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

.page {
    display: flex;
    width: 100%;
    max-height: 810px;
}

/* ===== LADO ESQUERDO ===== */
.left {
    position: relative;
    width: 45%;
    background: #fff;
    overflow: hidden;
}

.bg-shape {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.left-content {
    position: relative;
    margin-top: 200px;
    z-index: 2;
    padding: 80px 60px;
    color: #fff;
}

.left h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 40px;
    font-weight: 400;
}

.cat {
    width: 400px;
    margin-left: -80px;

}

/* ===== LADO DIREITO ===== */
.right {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 480px;
}

.form h2 {
    text-align: center;
    margin-bottom: 40px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.field label {
    font-size: 14px;
    margin-bottom: 6px;
}

.field input[type="text"],
.field input[type="number"] {
    height: 38px;
    border-radius: 20px;
    border: 1px solid #333;
    padding: 0 14px;
}

.row {
    display: flex;
    gap: 20px;
}

.small {
    width: 160px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 6px;
}

.radio-group label {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.upload {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.upload input {
    display: none;
}

small {
    font-size: 12px;
    margin-top: 6px;
}

.btn {
    width: 100%;
    height: 44px;
    background: #FFA42B;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background: #ff9800;
}