* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CENTRALIZAÇÃO DA PÁGINA */
.book-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

/* CONTAINER PRINCIPAL */
.book-container {
    width: 900px;
    max-width: 95%;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* IMAGENS */
.book-images {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 100%;
    height: 420px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnails img {
    width: 70px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.thumbnails img.active {
    border-color: #6c4ed9;
}

/* INFORMAÇÕES */
.book-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 28px;
    margin-bottom: 28px;
}

.author {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
}

/* BOTÃO */
.buy-button {
    margin-top: 45px;
    margin-left: 290px;
    width: fit-content;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ff4d00;
    color: #fff;
    transition: 0.3s;
}

.buy-button:hover {
    background: #7e3d00;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .book-container {
        flex-direction: column;
        align-items: center;
    }

    .book-images,
    .book-info {
        width: 100%;
    }

    .buy-button {
        align-self: center;
    }
}
