main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* SECTION */
.banner1 {
    width: 100%;
    background-color: #FFF0E1;
    display: flex;
    justify-content: center;
}

/* CONTAINER CENTRAL */
.banner-container {
    width: 100%;
    max-width: 1220px;
    padding: 80px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXTO */
.banner-text {
    width: 50%;
    margin-left: 200px;
}

.banner-text h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000;
}

.banner-text p {
    font-size: 16px;
    line-height: 24px;
    max-width: 420px;
    margin-bottom: 32px;
    color: #000;
}

.search-filters {
    width: 100%;
    max-width: 1220px;
    margin: 40px auto;
    padding: 0 24px;
}

/* Barra de busca */
.search-box {
    width: 855px;
    height: 48px;
    margin: 80px auto 24px auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    border-radius: 24px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-icon {
    width: 18px;
}

/* Linha filtros */
.filters-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 16px;
}

/* Botões */
.filter-btn,
.dropdown-btn {
    height: 36px;
    padding: 0 20px;
    border-radius: 18px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

/* Ativo */
.filter-btn.active {
    background: #000;
    color: #fff;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 44px;
    left: 0;
    background: #fff;
    width: 160px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    display: none;
    z-index: 10;
}

.dropdown-menu.right {
    right: 0;
    left: auto;
}

.dropdown-menu li {
    padding: 10px 14px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #f2f2f2;
}

.dropdown-menu li.selected {
    background: #000;
    color: #fff;
}

.dropdown-menu.show {
    display: block;
}

/* Ícone menu */
.icon-filter {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-filter img {
    width: 22px;
}


/* Container geral */
.genero-alta {
    padding: 60px 80px;
    background-color: #ffffff;
    margin-bottom: 100px;
}

/* Título */
.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.titulo h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}

/* Área dos cards */
.generos {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Cada card */
.genero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Imagens */
.genero-container img {
    width: 280px;
    height: 380px;
    border-radius: 16px;
    object-fit: cover;
}

/* Texto + seta */
.info {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto h3 {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 5px;
}

.texto p {
    font-size: 14px;
    color: #777777;
}

.info a img {
    width: 26px;
    height: 20px;
}

/* Responsividade */
@media (max-width: 900px) {
    .generos {
        gap: 40px;
    }

    .genero-container {
        width: 200px;
    }

    .genero-container img {
        width: 200px;
        height: 280px;
    }
}

@media (max-width: 600px) {
    .genero-container {
        width: 100%;
    }

    .genero-container img {
        width: 100%;
        height: auto;
    }
}

/* Título */
.titulo {
    font-weight: 700;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: -200px;
}

/* Grid principal */
.grid-livros {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 180px 150px;
}

/* Cada item */
.livro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Caixa da imagem */
.livro-imagem {
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background-color: #fff;
}

.livro-imagem img {
    height: auto;
    display: block;
}

.livro:nth-child(1) img {
    width: 180px;
}

.livro:nth-child(2) img {
    width: 300px;
}

.livro:nth-child(3) img {
    width: 300px;
}

.livro:nth-child(4) img {
    width: 150px;
}


/* Nome do livro */
.livro-nome {
    margin-top: 15px;
    font-size: 18px;
    color: #000;
}

/* "Veja mais" + seta */
.livro-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.livro-link span {
    font-size: 14px;
    color: #666;
    width: 100px;
}

.seta {
    margin-left: 180px;
    margin-top: -45px;
    text-decoration: none;
    font-size: 25px;
    color: #585656;
    font-weight: 600;
}

/* Responsividade */
@media (max-width: 650px) {
    .grid-livros {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

/* GALERIA */
.trocas {
    margin-top: 180px;
}

.galeria-wrapper {
    position: relative;

}

.galeria {
    display: flex;
    gap: 50px;
    padding: 16px 48px;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 1000px;
    padding-top: 100px;
}

.galeria::-webkit-scrollbar {
    display: none;
}

/* CARD */
.card-doacao {
    width: 301px;
    flex-shrink: 0;
}

.card-imagem {
    width: 100%;
    height: 421px;
    object-fit: cover;
    border-radius: 16px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.card-texto h3 {
    font-size: 18px;
}

.card-texto p {
    font-size: 14px;
    color: #777;
}

.card-link img {
    width: 24px;
    transition: transform 0.2s;
}

.card-doacao:hover .card-link img {
    transform: translateX(4px);
}

/* SETAS */
.galeria-seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #fff;
    font-size: 26px;
    cursor: pointer;
}

.galeria-seta.esquerda {
    left: 8px;
}

.galeria-seta.direita {
    right: 8px;
}

/* =====================
   MINHAS trocas
===================== */
.donations-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 24px;
}

.donations-header {
    margin-bottom: 64px;
    margin-left: -180px;
}

.donations-section h3 {
    margin-left: -180px;
}

.donations-header h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

.donations-header p {
    font-size: 14px;
    color: #555;
}

.books-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 80px
}

.book-card {
    width: 150px;
}

.book-card img {
    width: 100%;
}

/* CTA */
.donation-cta {
    padding-top: 80px;
    max-width: 520px;
}

.donation-cta h3 {
    font-size: 18px;
}

.donation-cta p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 26px;
    margin-left: -180px;
}

.cta-button {
    display: inline-block;
    margin-left: 350px;
    margin-top: 60px;
    padding: 10px 24px;
    border-radius: 24px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
}

