

{% block titulo %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar_livro.css') }}">
{% endblock %}

{% block conteudo %}
<main class="page">

    <!-- LADO ESQUERDO -->
    <section class="left">
        <img src="{{url_for('static', filename='imgs/Vector 10.svg')}}" alt="" class="bg-shape">

        <div class="left-content">
            <h1>Vamos começar<br>sua venda</h1>
            <img src="{{url_for('static', filename='imgs/cat-8415620_1280_2-removebg-preview 1.svg')}}" alt="Gato" class="cat">
        </div>
    </section>

    <!-- LADO DIREITO -->
    <section class="right">
        <form action="{{ url_for('cadastro_livro') }}" method="post" class="form" enctype="multipart/form-data">

            <h2>Dados do livro</h2>

            <div class="field">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>

            <div class="row">
                <div class="field">
                    <label for="autor">Autor:</label>
                    <input type="text" id="autor" name="autor" required>
                </div>

                <div class="field small">
                    <label for="ano_publicacao">Ano de publicação:</label>
                    <input type="texT" id="ano_publicacao" name="ano_publicacao">
                </div>
            </div>

            <!-- LINHA 1 -->
            <div class="row">
                <div class="field">
                    <label>Tipo de capa:</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="tipo_capa" value="dura" required>
                            Capa dura
                        </label>
                        <label>
                            <input type="radio" name="tipo_capa" value="brochura">
                            Brochura
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label>Livro para troca?</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="troca" value="sim" required>
                            Sim
                        </label>
                        <label>
                            <input type="radio" name="troca" value="nao">
                            Não
                        </label>
                    </div>
                </div>
            </div>

            <!-- LINHA 2 -->
            <div class="row">
                <div class="field">
                    <label for="genero">Gênero:</label>
                    <input type="text" id="genero" name="genero">
                </div>

                <div class="field small">
                    <label for="valor_desejado">Valor desejado:</label>
                    <input type="text" id="valor_desejado" name="valor_desejado">
                </div>
            </div>

            <!-- LINHA 3 -->
            <div class="field">
                <label class="upload">
                    Carregar imagem do livro
                    <input type="file" id="imagem" name="imagem[]" accept="image/*" multiple>
                </label>
                <small>O máximo de uploads de imagens é 4*</small>
            </div>

            <button type="submit" class="btn">Continuar</button>

        </form>
    </section>

</main>

<!-- JS -->
<script>
    const inputImagem = document.getElementById('imagem');

    inputImagem.addEventListener('change', () => {
        if (inputImagem.files.length > 4) {
            alert('Você pode enviar no máximo 4 imagens.');
            inputImagem.value = '';
        }
    });
</script>
{% endblock %}
