{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
{% endblock %}

{% block conteudo %}
<main>
    <section class="banner1">
        <div class="banner-container">

            <div class="banner-text">
                <h2>Espaço troca e venda</h2>
                <p>
                    Aqui você encontra uma variedade de livros inimagináveis,
                    que vão direto para sua estante! Visite agora e encontre
                    um para chamar de seu!
                </p>

                <a href="../templates/mercado.html" class="btn-area">
                    <button>Acessar</button>
                </a>
            </div>

            <div class="banner-image">
                <img src="../static/imgs/Group 88 1.svg" alt="pessoas com livros">
            </div>

        </div>
    </section>

    <section class="genero-alta">
        <div class="genero-alta-container">
            <div class="titulo">
                <h3>Gêneros em alta</h3>
            </div>

            <div class="generos">
                <div class="genero-container">
                    <img src="{{url_for('static', filename='imgs/genero_romance.svg')}}" alt="capa genero">
                    <div class="info">
                        <div class="texto">
                            <h3>Romance</h3>
                            <p>Explore agora!</p>
                        </div>
                        <a href="#"><img src="{{url_for('static', filename='imgs/seta.svg')}}" alt="seta"></a>
                    </div>
                </div>

                <div class="genero-container">
                    <img src="{{url_for('static', filename='imgs/genero_terror.svg')}}" alt="capa genero">
                    <div class="info">
                        <div class="texto">
                            <h3>Terror</h3>
                            <p>Explore agora!</p>
                        </div>
                        <a href="#"><img src="{{url_for('static', filename='imgs/seta.svg')}}" alt="seta"></a>
                    </div>
                </div>

                <div class="genero-container">
                    <img src="{{url_for('static', filename='imgs/genero_fic_cient.svg')}}" alt="capa genero">
                    <div class="info">
                        <div class="texto">
                            <h3>Ficção Científica</h3>
                            <p>Explore agora!</p>
                        </div>
                        <a href="#"><img src="{{url_for('static', filename='imgs/seta.svg')}}" alt="seta"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner2">
        <div class="banner2-container">

            <div class="banner2-image">
                <img src="../static/imgs/donationimg.svg" alt="doação de livros">
            </div>

            <div class="banner2-text">
                <h2>Vamos contribuir com essa iniciativa?</h2>
                <p>
                    Ao doar um livro, você realiza sonhos, abre caminhos e
                    gera um novo futuro. Participe!
                </p>

                <a href="../templates/doacao.html" class="btn-area">
                    <button>Doar</button>
                </a>
            </div>

        </div>
    </section>

    <section class="sugestoes">
        <h2 class="titulo">Sugestões de leitura</h2>

        <div class="grid-livros">
            <!-- Livro 1 -->
            <div class="livro">
                <div class="livro-imagem">
                    <img src="{{url_for('static', filename='imgs/homens_pretos.png')}}" alt="Águas de Homens Pretos">
                </div>
                <p class="livro-nome">Águas de Homens Pretos</p>
                <div class="livro-link">
                    <span>Veja mais</span>
                    <a class="seta" href="#">→</a>
                </div>
            </div>

            <!-- Livro 2 -->
            <div class="livro">
                <div class="livro-imagem">
                    <img src="{{url_for('static', filename='imgs/heartstopper.png')}}"
                        alt="Heartstopper – Boy meets Boy">
                </div>
                <p class="livro-nome">Heartstopper–Boy meets Boy.</p>
                <div class="livro-link">
                    <span>Veja mais</span>
                    <a class="seta" href="#">→</a>
                </div>
            </div>

            <!-- Livro 3 -->
            <div class="livro">
                <div class="livro-imagem">
                    <img src="{{url_for('static', filename='imgs/pequeno_principe.png')}}" alt="O Pequeno Príncipe">
                </div>
                <p class="livro-nome">O pequeno príncipe</p>
                <div class="livro-link">
                    <span>Veja mais</span>
                    <a class="seta" href="#">→</a>
                </div>
            </div>

            <!-- Livro 4 -->
            <div class="livro">
                <div class="livro-imagem">
                    <img src="{{url_for('static', filename='imgs/mordida.png')}}" alt="Mordida">
                </div>
                <p class="livro-nome">Mordida</p>
                <div class="livro-link">
                    <span>Veja mais</span>
                    <a class="seta" href="#">→</a>
                </div>
            </div>
        </div>
    </section>
    <section class="comunidade">
        <div class="conteudo">
            <h2>Conheça a nossa</h2>
            <div class="titulo-destaque">
                <span>Comunidade</span>
            </div>

            <p class="descricao">
                Ambiente virtual desenvolvido especialmente para nossos leitores poderem expressar, indicar,
                refletir e discutir ideias sobre seus livros e autores!
            </p>

            <h3>Junte-se a nós agora!</h3>

            <button class="btn-juntar">Juntar-se</button>
        </div>

        <div class="imagem-comunidade">
            <img src="{{url_for('static', filename='imgs/comunidade_pag_inicial.svg')}}" alt="Pessoas lendo livros">
        </div>
    </section>
</main>
{% endblock %}