{% extends "base.html" %}

{% block titulo %}
CAOS - Lista
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/lista_livro.css">
{% endblock %}

{% block conteudo %}
<main class="list-page">
    <h3>Lista de Livros</h3>
    <section class="books">
        {% for livro in livros %}
        <div class="book-card">
            <div class="book-header">
                <strong class="title">{{ livro.nome }}</strong>
                <span class="price">R$ {{ livro.valor }}</span>
            </div>
            <div class="book-info">
                {{ livro.autor }}
            </div>
            {% if livro.mensagem %}
            <p class="message">{{ livro.mensagem }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </section>
    <!-- BOTÕES FINAIS -->
    <div class="actions">
        <a href="{{ url_for('cadastro_livro') }}">
            <button class="btn secondary">Cadastrar outro livro</button>
        </a>
        <a href="{{ url_for('home') }}">
            <button class="btn primary">Finalizar</button>
        </a>
    </div>
</main>
{% endblock %}