<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Projeto CAOS</title>
    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <section class="container">
        <section class="login">
            <div class="logo">
                <figure><img src="../static/imgs/logo_caos.png" alt=""></figure>
                <span>Faça login com a sua conta</span>
            </div>
            <form action="...">
                <fieldset>
                    <label for="email">Email</label>
                    <div class="forms">
                        <input type="email" placeholder="digite aqui o seu email" name="email" required>
                        <div><i class="fa-regular fa-envelope" style="color: #ffffff;"></i></div>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="senha">Senha</label>
                    <div class="forms">
                        <input type="password" placeholder="digite aqui a sua senha" name="senha" required>
                        <div><i class="fa-solid fa-lock" style="color: #ffffff;"></i></div>
                    </div>
                    <div><a href="#" class="esqueceu">Esqueceu a senha? <strong>Clique aqui</strong></a></div>
                </fieldset>
                <fieldset>
                    <button type="submit">Login</button>
                </fieldset>
            </form>
            <div class="linhas">
                <div class="linha"></div>
                <p>OU</p>
                <div class="linha"></div>
            </div>
            <div class="cadastro">
                <a href="#">Cadastra-se</a>
            </div>
        </section>
        <section class="fundo">
            <figure><img src="../static/imgs/cat-8415620_1280_2-removebg-preview 2.svg" alt=""></figure>
            <div class="titulo">
                <span>Bem-vindo a</span>
                Comunidade de Acesso, Obras e Saberes
            </div>
        </section>
    </section>
</body>
</html>