{% extends "base.html" %}

{% block titulo %}
CAOS - Sobre mais
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/sobre.css')}}">
{% endblock %}

{% block conteudo %}
<main>
    <div>
        <h1>Sobre Nós, Projeto CAOS</h1>
        <h2>Comunidade de Acesso, Obras e Saberes</h2>
        <p>Nossa plataforma reúne tudo em um só lugar: trocas, doações, vendas acessíveis e publicação de conteúdos
            relacionados ao universo literário. Aqui, cada leitor pode descobrir algo novo, dar um destino consciente
            aos livros que não usa mais e fortalecer o ciclo de leitura dentro da sua comunidade</p>
    </div>
    <section>
        <div>
            <h2>Iniciativa</h2>
            <p>O CAOS é um projeto que nasce dentro do Instituto Federal do Rio Grande do Norte — IFRN Zona Norte, como
                parte do nosso Projeto Integrador. A proposta surgiu a partir da necessidade de desenvolver uma solução
                social, prática e significativa, que unisse tecnologia, sustentabilidade e acesso ao conhecimento.</p>
            <p>Sob orientação da professora Ellis, docente de Língua Portuguesa, o projeto tomou forma ao reconhecer uma
                realidade comum: muitos leitores acumulam livros que não utilizam mais, enquanto outras pessoas não
                conseguem ter acesso às obras que desejam ler. Assim, a iniciativa busca diminuir essa distância e criar
                um
                ambiente em que o conhecimento circule de maneira consciente, acessível e colaborativa.
                O desenvolvimento do CAOS é realizado pelos estudantes:
            </p>
            <p><strong>Elouise Galdino, Erick Wellington e Ingrid Paula</strong></p>
            <p>Juntos, buscamos construir uma plataforma que fortaleça o hábito da leitura, incentive o compartilhamento
                e contribua para uma comunidade mais unida e informada</p>
        </div>
    </section>
    <section>
        <div>
            <h2>Objetivo</h2>
            <p>Promover o acesso à leitura: ampliar a circulação de livros por meio de trocas, doações e vendas a preço
                simbólico.
                Criar uma comunidade ativa de leitores: incentivar a interação entre usuários por meio de posts,
                resenhas, recomendações e debates.
                <br>
                Estimular o consumo consciente: combater o descarte inadequado de livros e incentivar a reutilização.
                Fortalecer o hábito da leitura: oferecer um ambiente acolhedor, motivador e livre, onde cada pessoa
                possa encontrar obras que despertem seu interesse.
                <br>
                Valorizar o conhecimento: tornar o conteúdo cultural e socialmente acessível a todos.
            </p>
        </div>
    </section>
    <section>
        <div>
            <h2>Participação</h2>
            <p>A participação no CAOS é aberta, inclusiva e colaborativa.
                No nosso site você pode</p>
            <ul>
                <li>Criar posts sobre livros, autores, gêneros e reflexões literárias.</li>
                <li>Trocar livros com outros usuários de forma simples e direta</li>
                <li>Doar livros para quem mais precisa.</li>
                <li>Vender livros em casos específicos, sempre priorizando o acesso e preços simbólicos.</li>
                <li>Interagir curtindo, comentando, recomendando e acompanhando outros leitores.</li>
                <li>Contribuir com ideias para aprimorar continuamente a plataforma.</li>
            </ul>
            <p>No CAOS, cada usuário tem voz e cada ação ajuda a fortalecer a cadeia do conhecimento. É de extrema
                importância os feedbacks através do nosso suporte!</p>
        </div>
    </section>
    <section>
        <div>
            <h2>Metas do projeto</h2>
            <p>Construir a maior comunidade colaborativa de leitores da região: aberta, gratuita e acessível.
                Reduzir o desperdício de livros, incentivando a reutilização e o descarte consciente.
                Criar uma plataforma estável e intuitiva, onde a experiência do usuário seja simples e satisfatória.
                Alcançar parcerias com escolas, bibliotecas, projetos sociais e grupos literários.
                Expandir o acervo circulante, aumentando o número de livros trocados, doados e reivindicados pela
                comunidade.
                Promover eventos e campanhas de leitura, fortalecendo ainda mais o engajamento dos participantes</p>
        </div>
    </section>
</main>

{% endblock %}